@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;

}
body{
    display:grid;
    place-content: center;
    height:100vh;
    width;100vw;
    overflow:hidden;
    background: #037303
}
.flipbook{
    width: 1000px;
    height: 600px;
}
.flipbook .paginas{
    background: blueviolet;
    color: rgb(246, 246, 246);
    font-weight: bold;
    border: none;
}
.flipbook .paginas small{
    font-style: italic;
    font-weight: lighter;
    opacity: o.8;
    font-size: 14px;
}